/*!
 * Additional CSS for EATSLEEPREPEAT.NET
 *
 * @elithrar
 *
 */

.sharing {
    padding-top: 5px;
}

.fb-like span {
    float: left;
}

.category-header {
    margin-top: 10px;
}

footer {
    text-align: center;
}