<footer>
    Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
    Powered by <a href="http://octopress.org">Octopress</a>
  
    <span class="subscription" data-subscription="rss{% if site.subscribe_email %} email{% endif %}">
      - Subscribe via <a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS">RSS</a>
      {% if site.subscribe_email %}
        <a href="{{ site.subscribe_email }}" rel="subscribe-email" title="subscribe via email">Email</a>
      {% endif %}
    </span>
</footer>
