<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{ root_url }}">{{ site.title }}</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class=""><a href="{{ root_url }}">Home</a></li>
          <li class=""><a href="{{ root_url }}/archives/">Archive</a></li>
          <li class=""><a href="http://www.flickr.com/photos/elithrar/">Flickr</a></li>
          <li class=""><a href="http://500px.com/silverlock">500px</a></li>
          <li class=""><a href="https://github.com/elithrar">Github</a></li>
          <li class=""><a href="http://twitter.com/elithrar">@elithrar</a></li>
          </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
