/*!
 * Additional CSS for EATSLEEPREPEAT.NET
 *
 * @elithrar
 *
 */

.sharing {
    padding-top: 5px;
}

.fb-like span {
    float: left;
}

.list-header {
    margin-top: 10px;
}

@media (min-width: 1200px) {
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
    width: 1070px;
    }
    .span12 {
    width: 1070px;
    }
}

body {
    background-color: #EEE;
    font-size: 13px;
    line-height: 18px;
    padding-top: 60px;
    padding-bottom: 40px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.navbar .brand {
    padding: 8px 20px 12px;
}

.navbar-inverse .brand {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 22px;
    line-height: 1;
}

.navbar .nav > li > a {
    padding: 10px 10px 10px;
}

img {
    margin-top: 10px;
}

small {
    font-size: 75%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 5px 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    line-height: 36px;
}

.hero-unit {
    padding: 30px;
}

.hero-unit p {
    font-size: 16px;
    font-weight: 200;
    line-height: 20px;
    margin-bottom: 10px;
}

.pagination ul > li > a, .pagination ul > li > span {
    background-color: #EEE;
}

footer {
    text-align: center;
}
