<div class="hero-unit">
{% unless page.no_header %}
    {% if index %}
      <h2><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h2>
    {% else %}
      <h2>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h2>
    {% endif %}
{% endunless %}

{% if index %}
  {{ content | excerpt }}
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
    {% if excerpted == 'true' %}
        <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    {% endif %}
{% else %}
  {{ content }}
{% endif %}

{% unless page.meta == false %}
<span class="cite">
    <i class="icon-calendar"></i> Posted on {% include post/date.html %}{{ time }}
</span>
{% unless page.sharing == false %}
    {% include post/sharing.html %}
{% endunless %}
{% endunless %}

</div>