<div class="sharing">
  {% if site.twitter_tweet_button %}
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ post.url }}" data-text="{{ post.title }} on {{ site.title }}" data-hashtags="photography" data-related="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ post.url }}" data-count="horizontal" data-lang="en">Tweet</a>
  {% endif %}
  {% if site.google_plus_one %}
  <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
  {% endif %}
  {% if site.facebook_like %}
    <div class="fb-like" data-href="{{ site.url }}{{ post.url }}" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
  {% endif %}
</div>
